/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #e3e3e3;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* container style */
.container {
    width: 600px;
    height: 600px;
    margin: 64px auto 16px;
    background-color: #fff;
    display: flex;
}

.col {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.cell {
    border: 1px solid #aaa;
    flex: auto;
}

.cell-hover {
    background-color: black;
}

.new {
    background-color: greenyellow;
    border: none;
    margin: 0 auto 16px;
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
}

.new:hover {
    box-shadow: 2px 2px 5px green;
}